#wrap {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 0;
}

#wrap .side {
	position: fixed;
	width: 12%;
	min-width: 230px;
	top: 0;
	bottom: 0;
	height: auto;
}

#wrap .side.left {
	left: 0;

	background-image: -webkit-linear-gradient(left, #F9F9F9 93%, #F0F0F0 100%);
	background-image: -moz-linear-gradient(left, #F9F9F9 93%, #F0F0F0 100%);
	background-image: -o-linear-gradient(left, #F9F9F9 93%, #F0F0F0 100%);
	background-image: -ms-linear-gradient(left, #F9F9F9 93%, #F0F0F0 100%);
	background-image: linear-gradient(left, #F9F9F9 93%, #F0F0F0 100%);
}

#wrap .side.right {
	right: 0;

	background-image: -webkit-linear-gradient(right, #F9F9F9 93%, #F0F0F0 100%);
	background-image: -moz-linear-gradient(right, #F9F9F9 93%, #F0F0F0 100%);
	background-image: -o-linear-gradient(right, #F9F9F9 93%, #F0F0F0 100%);
	background-image: -ms-linear-gradient(right, #F9F9F9 93%, #F0F0F0 100%);
	background-image: linear-gradient(right, #F9F9F9 93%, #F0F0F0 100%);
}

.headArea {
	position: relative;
	width: auto;
	top: 0;
	left: 0;
	right: 0;
	height: 58px;
	margin: 0;
	padding: 0;
}

.headArea h1 {
	position: relative;
	width: auto;
	display: block;
	margin: 0;
	padding: 0;
	height: 58px;
	line-height: 58px;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

#wrap .center {
	position: absolute;
	top: 0;
	left: 230px;
	right: 230px;
	width: auto;
	height: auto;
	bottom: 0;
}

.headArea .robotIcon {
	position: static;
	display: block;
	width: 40px;
	height: 40px;
	margin-left: 8px;
	margin-top: 8px;
	border-radius: 4px;
	border: 1px solid #333333;
	float: left;
	background: url(../../imgs/robots/defaultRobot.png) no-repeat;
}

.headArea h1.left {
	position: static;
	margin-left: 10px;
	display: inline;
}

#logout {
    position: absolute;
    width: 58px;
    height: 58px;
    top: 0;
    right: 0;
    cursor: pointer;
}

#logout img {
	position: absolute;
	top: 21px;
	left: 21px;

	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	transition-duration: 0.5s;

	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform;
}

#logout:hover img {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

#remote {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 504px;
	height: 450px;
	margin-top: -225px;
	margin-left: -252px;
}

#remote .direction {
	position: absolute;
	width: 168px;
	height: 150px;
	background-color: #efefef;
	border-radius: 20px;

	-webkit-transition: all 0.1s ease-in-out 0s;
	-moz-transition: all 0.1s ease-in-out 0s;
	-o-transition: all 0.1s ease-in-out 0s;
	-ms-transition: all 0.1s ease-in-out 0s;
	transition: all 0.1s ease-in-out 0s;
}

#remote .direction.left {
	top: 50%;
	margin-top: -75px;
	left: 0;
}

#remote .direction.right {
	top: 50%;
	margin-top: -75px;
	right: 0;
}

#remote .direction.bottom {
	bottom: 0;
	left: 50%;
	margin-left: -84px;
}

#remote .direction.top {
	top: 0px;
	left: 50%;
	margin-left: -83px;
}

#remote .direction:hover {
	background-color: #cccccc;

	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}