#wrap {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 0;
}

#wrap .side {
	position: fixed;
	width: 230px;
	top: 0;
	bottom: 0;
	height: auto;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: auto;
}

#wrap .side.left {
	left: 0;

	background-image: -webkit-linear-gradient(left, #F9F9F9 93%, #F0F0F0 100%);
	background-image: -webkit-gradient(linear, left top, right top, from(#F9F9F9), to(#F0F0F0));
	background-image: linear-gradient(left, #F9F9F9 93%, #F0F0F0 100%);
}

#wrap .side.right {
	right: 0;

	background-image: -webkit-linear-gradient(right, #F9F9F9 93%, #F0F0F0 100%);
	background-image: -webkit-gradient(linear, right top, left top, from(#F9F9F9), to(#F0F0F0));
	background-image: linear-gradient(right, #F9F9F9 93%, #F0F0F0 100%);
}

.headArea {
	position: relative;
	width: auto;
	top: 0;
	left: 0;
	right: 0;
	height: 58px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	z-index: 1;
}

.headArea h1 {
	position: relative;
	width: auto;
	display: block;
	margin: 0;
	padding: 0;
	height: 58px;
	line-height: 58px;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

#wrap .center {
	position: absolute;
	top: 0;
	left: 230px;
	right: 230px;
	width: auto;
	height: auto;
	bottom: 0;
	overflow: hidden;
}

.headArea .robotIcon {
	position: static;
	display: block;
	width: 40px;
	height: 40px;
	margin-left: 8px;
	margin-top: 8px;
	border-radius: 4px;
	border: 1px solid #333333;
	float: left;
	background: url(../../imgs/robots/defaultRobot.png) no-repeat;
}

.headArea h1.left {
	position: static;
	margin-left: 10px;
	display: inline;
}

#logout {
	position: absolute;
	width: 58px;
	height: 58px;
	top: 0;
	right: 0;
	cursor: pointer;
}

#logout img {
	position: absolute;
	top: 21px;
	left: 21px;

	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;

	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
}

#logout:hover img {
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

#content {
	position: absolute;
	top: 58px;
	left: 0;
	right: 0;
	bottom: 0;
	width: auto;
	height: auto;
	overflow: hidden;
}

#remote {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 504px;
	height: 450px;
	margin-top: -225px;
	margin-left: -252px;
}

#remote .direction {
	position: absolute;
	width: 168px;
	height: 150px;
	background-color: #efefef;
	border-radius: 20px;

	-webkit-transition: all 0.1s ease-in-out 0s;
	-moz-transition: all 0.1s ease-in-out 0s;
	-o-transition: all 0.1s ease-in-out 0s;
	-ms-transition: all 0.1s ease-in-out 0s;
	transition: all 0.1s ease-in-out 0s;

}

#remote .direction.left {
	top: 50%;
	margin-top: -75px;
	left: 0;
}

#remote .direction.right {
	top: 50%;
	margin-top: -75px;
	right: 0;
}

#remote .direction.bottom {
	bottom: 0;
	left: 50%;
	margin-left: -84px;
}

#remote .direction.top {
	top: 0px;
	left: 50%;
	margin-left: -83px;
}

#remote .direction:hover {
	background-color: #cccccc;

	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

/* @group Jobs */

#jobList {
	position: relative;
	width: auto;
	height: auto;
	margin-left: 20px;
	margin-right: 20px;
	-webkit-perspective: 500px;
	-moz-perspective: 500px;
	-o-perspective: 500px;
	-ms-perspective: 500px;
	perspective: 500px;
	margin-bottom: 15px;
}

#jobList .job {
	border-bottom: 1px solid #cccccc;
	-webkit-transition: -webkit-transform 0.2s ease-out 0s, opacity 0.2s ease-out 0s;
	-webkit-transform: translateY(0) rotate3d(1,0,0,0deg);
	opacity: 1;
}

#jobList .job.hiddenBottom {
	-webkit-transform: translateY(25px) rotate3d(1,0,0,-60deg);
	opacity: 0;
}

#jobList .job.hiddenTop {
	-webkit-transform: translateY(-25px) rotate3d(1,0,0,90deg);
	opacity: 0;
}

#jobList .job:not(.hiddenTop):first-child {
	border-top: 1px solid #cccccc;
}

.job h2 {
	font-size: 13px;
	text-align: center;
	font-weight: normal;
	margin: 4px 0;
	line-height: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.job ul {
	position: relative;
	width: auto;
	height: auto;
	left: -20px;
	right: 0;
	margin-bottom: 4px;
}

.job ul, .job ul li {
	list-style-type: none;
	list-style-position: inside;
	margin: 0;
	padding: 0;
	display: block;
}

.job ul li {
	height: 80px;
	opacity: 0.5;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	-webkit-transition: -webkit-transform 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s;

}
.job:not(.hiddenTop):first-child ul li:first-child {
	opacity: 1;
	background: url(../../imgs/directions/marker.svg) 0 center no-repeat;
}

.job ul:not(.hiddenTop) li.hidden {
	-webkit-transform: translateX(-100%);
	opacity: 0;
}

.job ul li img {
	position: relative;
	vertical-align: middle;
	margin: 0 0 0 30px;
	width: 40px;
	height: 40px;
}

.job ul li span {
	position: relative;
	vertical-align: middle;
	top: 0;
	font-size: 15px;
	line-height: 80px;
	margin: 0 0 0 10px;
}

/* @end */
